1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [19]:
ciudades = ["Córdoba", "Rio de Janeiro", "Cartagena", "Mykonos", "Cancun"]
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mykonos', 'Cancun']

2) Imprimir por pantalla el segundo elemento de la lista

In [21]:
print(ciudades[1])

Rio de Janeiro

3) Imprimir por pantalla del segundo al cuarto elemento

In [22]:
print(ciudades[1:4])

['Rio de Janeiro', 'Cartagena', 'Mykonos']

4) Visualizar el tipo de dato de la lista

In [12]:
type(ciudades)

list

In [13]:
type(ciudades[2])

str

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [14]:
print(ciudades[2:])

['Cartagena', 'Mykonos', 'Cancun']

6) Visualizar los primeros 4 elementos de la lista

In [30]:
print(ciudades[:4])

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mykonos']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [62]:
ciudades.append('osaka')
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mykonos', 'Cancun', 'Cancun', 'osaka']

In [61]:
ciudades.append("Cancun")

8) Agregar otra ciudad, pero en la cuarta posición

In [64]:
ciudades.insert(3,"Mendoza")
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka']

9) Concatenar otra lista a la ya creada

In [66]:
ciudades_2 = ["New York", "Texas", "Los Angeles"]
print(ciudades_2)

['New York', 'Texas', 'Los Angeles']

In [76]:
ciudades.extend(ciudades_2)
pass
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [77]:
print(ciudades.index("Cancun"))

6

11) ¿Qué pasa si se busca un elemento que no existe?

In [78]:
print(ciudades.index("Toronto"))

ValueError: 'Toronto' is not in list

12) Eliminar un elemento de la lista

In [80]:
ciudades.remove("Texas")
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles', 'New York', 'Texas', 'Los Angeles']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [81]:
ciudades.remove("Bariloche")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [82]:
ultimo = ciudades.pop()
print(ultimo)

Los Angeles

15) Mostrar la lista multiplicada por 4

In [88]:
ciudades = ['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York']
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York']

In [89]:
print(ciudades * 4)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York', 'Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York', 'Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York', 'Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [92]:
numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(numeros))
print(numeros)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [94]:
print(numeros[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [95]:
print(20 in numeros)

True

In [96]:
print(30 in numeros)

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [99]:
ciudades = ['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York']
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York']

In [100]:
"Paris" in ciudades

False

In [101]:
ciudades.append("Paris")
print(ciudades)

['Córdoba', 'Rio de Janeiro', 'Cartagena', 'Mendoza', 'Mykonos', 'Cancun', 'Cancun', 'osaka', 'New York', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [102]:
ciudades.count("osaka")

1

In [105]:
numeros.count(17)

1

21) Convertir la tupla en una lista

In [110]:
Lista_num = list(numeros)
print(Lista_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [114]:
mi_tupla = "Ricardo", 24, 5, 1990
nombre, dia, mes, año = mi_tupla
print("Nombre: ",nombre,"Día: ",dia,"Mes: ",mes)

Nombre:  Ricardo Día:  24 Mes:  5